---
---

@import "{{ site.theme }}";

#navigation {
	margin-top: -3em;
	margin-bottom: 5em;
	margin-left: -20px;
}

#navigation li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

#navigation li * {
	color: white;
}

#navigation li.active {
	font-weight: 900;
}

.callout {
	border: 1px solid #333;
	background: #EEE;
	padding: 10px;
}

img {
	padding: 20px;
}

img.reduced {
	height: auto;
}

img.reduced.standard {
	max-width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

img.reduced.slightly {
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.byline {
	font-style: italic;
}